/* other */
html {
    font-family: sans-serif;
    font-size: 1.3rem;
    background-color: rgb(59, 57, 57);
    color: rgb(255, 255, 255);
    
    /* margin-left: 7rem;
    margin-right: 7rem; */
}

.h3 {
    font-size: 1.5rem;
    padding: .5rem;

}

.borderTop {
    border-top: 7px solid rgb(138, 133, 133);
}




/* Book section */



.bookSectionImages {
   max-width: 100%;
   padding: 2rem;
   
}



.textContainer {
    max-width: 14rem;   
    padding: .5rem;

}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.paddingBottom {
    padding-bottom: 2rem;
}

.paddingTop {
    padding-top: 2rem;
}

/* Footer */

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.link {
    color: white;
}

.link:hover {
    color: rgb(178, 175, 175);
    text-decoration: none;
}

/* Tips */

.tipsFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p {
    padding: .2rem;
}